*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.active :nth-child(1){
  color: blue;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  
}
.likeds{
  color: rgb(54, 54, 190);
}
.readMoreClassName{
  color: rgb(7, 7, 65);
}
.readLessClassName{
  color: rgb(6, 6, 87);
}